@import url('../../variables.css');

.cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-block: 80px;
}

.cartItem {
  width: 700px;
  height: 250px;
  display: flex;
  align-items: center;
  border-radius: 25px;
  margin: 30px;
  padding: 10px;
}

.cart h1 {
  color: #333;
}

.cartItem img {
  width: 180px;
  height: 180px;
  margin: 30px;
}

.deleteItem {
  position: absolute;
  border: none;
  right: 0;
  color: #333;
  cursor: pointer;
}

.description p {
  color: #333;
}

.deleteItem:hover {
  color: red;
}

.cartItem .description {
  position: relative;
  width: 100%;
  font-size: 30px;
}

.countHandler input {
  width: 40px;
  text-align: center;
  font-weight: bolder;
  border: var(--main-bg-color) 2px solid;
  border-radius: 4px;
  outline: none;
}

.countHandler {
  display: flex;
  align-items: center;
}

.buttons {
  display: flex;
}

.cartButton {
  cursor: pointer;
  font-weight: bold;
  background-color: transparent;
  border: none;
  font-size: 16px;
}

.checkout button {
  padding: 10px;
  background-color: var(--main-bg-color);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.checkout button:hover {
  box-shadow: 0 0 5px rgb(0, 0, 0.205);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media only screen and (max-width: 768px) {
  .cart {
    flex-direction: column;
    align-items: center;
  }
  .cartItem {
    width: 80%;
    height: auto;
  }
  .cartItem img {
    width: 100px;
    height: 100px;
    margin: 10px;
  }
  .cartItem .description {
    font-size: 20px;
  }
  .countHandler input {
    width: 30px;
  }
  .checkout button {
    width: 100px;
  }
  .spinner {
    width: 150px;
    height: 150px;
  }
  .deleteItem {
    right: 5%;
  }
}
