.cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.cartItem {
  width: 700px;
  height: 250px;
  display: flex;
  align-items: center;
  border-radius: 25px;
  margin: 30px;
  padding: 10px;
}

.cartItem img {
  width: 180px;
  height: 180px;
  margin: 30px;
}

.deleteItem {
  position: absolute;
  border: none;
  right: 40%;
  background-color: transparent;
  color: black;
  cursor: pointer;
}

.deleteItem:hover{
  color: red;
}

.cartItem .description {
  position: relative;
  width: 100%;
  font-size: 30px;
}

.countHandler input {
  width: 40px;
  text-align: center;
  font-weight: bolder;
}

.checkout button {
  width: 150px;
  height: 50px;
  background-color: #087F8C;
  color: white;
  border: none;
  border-radius: 8px;
  margin: 10px;
  cursor: pointer;
}

.spinner {
  position: absolute;
  top: 50%;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 5px solid gray;
  border-top-color: #333;
  animation: spin 0.6s linear infinite;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media only screen and (max-width: 768px) {
  .cart {
    flex-direction: column;
    align-items: center;
  }
  .cartItem {
    width: 80%;
    height: auto;
  }
  .cartItem img {
    width: 100px;
    height: 100px;
    margin: 10px;
  }
  .cartItem .description {
    font-size: 20px;
  }
  .countHandler input {
    width: 30px;
  }
  .checkout button {
    width: 100px;
    height: 40px;
  }
  .spinner {
    width: 150px;
    height: 150px;
  }
  .deleteItem{
    right: 5%;
  }
}