.shopTitle {
  margin-top: 100px;
  text-align: center;
  font-size: 40px;
}

.shop {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.shopTitle h4 {
  color: #ff1100;
}

.products {
  width: 80%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.spinner {
  position: absolute;
  top: 50%;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 5px solid gray;
  border-top-color: #333;
  animation: spin 0.6s linear infinite;
}

.product {
  width: 500px;
  border-radius: 15px;
  height: 350px;
  margin-bottom: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product img {
  width: 200px;
  height: 300px;
}

.product .description {
  text-align: center;
}

.product:hover {
  transition: 0.3s ease-in;
  cursor: pointer;
}

.addToCartBttn {
  background-color: transparent;
  color: #095256;
  border: 2px solid #095256;
  min-width: 100px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 15px;
}

.addToCartBttn:hover {
  background-color: #095256;
  color: white;
  cursor: pointer;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 768px) {
  .shop {
    flex-direction: column;
  }
  .products {
    flex-direction: column;
  }

  .product{
  width: auto;
  }

}