.shopTitle {
  text-align: center;
  font-size: 40px;
}

.shop {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  padding-bottom: 80px;
}

.shopTitle h4 {
  color: #333;
  margin: 0;
  margin-bottom: 70px;
}

.products {
  width: 70%;
  flex-wrap: wrap;
  gap: 6em;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.deleteBttn {
  cursor: pointer;
  margin-top: -1px;
  top: center;
}

.deleteBttn:hover {
  color: red;
}

.buttonsContainer {
  text-align: center;
}

.spinner {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 5px solid gray;
  border-top-color: #333;
  animation: spin 0.6s linear infinite;
}

.product {
  width: 300px;
  border-radius: 7px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.product img {
  width: 49%;
  height: 52%;
}

.product p {
  margin: 0;
}

.product .description {
  text-align: center;
}

.addToCartBttn {
  background-color: transparent;
  color: #095256;
  border: 2px solid #095256;
  min-width: 100px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 7px;
}

.addToCartBttn p {
  display: inline-block;
  width: 15px;
  height: 15px;
  color: white;
  background-color: #095256;
  border-radius: 50%;
}

.addToCartBttn:hover p {
  color: #095256;
  background-color: white;
}

.addToCartBttn:hover {
  background-color: #095256;
  color: white;
  cursor: pointer;
}

.inputs {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 1% 14px;
  gap: 4rem;
  flex-wrap: wrap;
  background-color: #095256;
  box-sizing: border-box;
  font-size: 17px;
}

.inputs div {
  display: flex;
  align-items: center;
  color: white;
}

.inputs div p {
  margin: 0;
  color: white;
}

.inputs div:last-child {
  height: 100%;
  align-items: center;
  gap: 10px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 768px) {
  .inputs {
    gap: 7px;
    justify-content: flex-start;
    padding-bottom: 10px;
  }
  
  .inputs div {
    justify-content: space-between;
    width: 100%;
  }

  .addToCartBttn:hover {
    background-color: #095256;
    color: white;
    cursor: none;
  }

  .inputs div:nth-child(2) {
    justify-content: space-between;
    margin-top: 10px;
    width: 100%;
  }

  .inputs div:last-child {
    justify-content: flex-start;
    gap: 20px;
    width: 100%;
  }

  .shop {
    flex-direction: column;
  }
}
