.navbar {
  background-color: #095256;
  padding: 10px 14px;
  gap: 12px;
  display: flex;
  flex-direction: column;
  align-items: space-around;
  justify-content: center;
}

.shopAndCart {
  display: flex;
  flex-direction: row;
  height: 100%;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.logo p {
  color: white;
  font-weight: bold;
  font-size: clamp(15px, 2.8vw,  20px);
  margin: 0;
}

.links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.links a {
  text-decoration: none;
  color: white;
  font-size: clamp(18px, 2.8vw,  25px);;
}

.circle {
  color: #095256;
  text-align: center;
  font-size: 16px;
  background-color: white;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-weight: bold;
  margin: 0;
}

.searchBar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 0.3em 0;
  padding-left: 10px;
  border-radius: 7px;
  border: 1px solid #d5d5d5;
  background-color: #fff;
  height: 40px;
  border-right: -0px;
  box-sizing: border-box;
}

.searchBarBttn {
  background-color: transparent;
  color: white;
  width: 55%;
  height: 100%;
  border-start-end-radius: 7px;
  border-end-end-radius: 7px;
}

.searchBar button {
  height: 40px;
  width: 60px;
  border-start-end-radius: 7px;
  border-end-end-radius: 7px;
  border: none;
  margin: 0;
  background-color: rgb(36, 36, 36);
  font-size: 1em;
  cursor: pointer;
  color: #333;
}

.modern-input {
  font-size: 1em;
  width: 100%;
  height: 100%;
  border: none;
}

.modern-input:hover,
.modern-input:focus {
  outline: none;
}

.searchBar:hover,
.searchBar:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
