.curtain {
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1
}

.modal-content {
  background-color: white;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  padding: 0 20px;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  z-index: 2;
  border: 1px solid #888;
  width: 30%;
  height: 20%;
}

.modal-content h4 {
  margin: 0;
}

.close {
  width: 40px;
  height: 40px;
  border: none;
  margin: -20px 0 0 0;
  background-color: white;
  align-self: flex-end;
  color: #095256;
  font-size: 28px;
  font-weight: bold;
}

.buttons {
  display: flex;
  gap: 1em;
}

.button {
  background-color: transparent;
  color: #095256;
  border: 2px solid #095256;
  min-width: 100px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 7px;
}

.cancel-button {
  color: #560909 !important;
  border: 2px solid #560909 !important;
}

.cancel-button:hover {
  background-color: #560909 !important;
  color: white !important;
}

.button:hover {
  background-color: #095256;
  color: white;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .modal-content {
    width: 80%;
  }

  .close {
    width: 20px;
    height: 20px;
  }
}
